<div class="row">
  <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">

<%= form_for(task) do |f| %>
  <% if task.errors.any? %>
    <ul class="alert alert-warning">
      <li>
        <% task.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      </li>
    </ul>
  <% end %>

<form class="form-horizontal">
  
  <div class="form-group">
    <%= f.label :content, "タスク", class: "control-label" %> 
    <%= f.text_field :content, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :status, "状態", class: "control-label" %> 
    <div class="dropdown">
        <%= f.select :status, ["未処理", "保留中", "完了済"], class: "form-control" %>
    </div>  
  </div>
  
  <div class="form-group">
    <%= f.submit "登録", class: "btn btn-primary" %>
  </div>

</form>    

<% end %>

  </div>
</div>